<!DOCTYPE html>
<html>

<head>
    <title>Angular Login</title>
    <link rel="stylesheet" type='text/css' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>

<body ng-app='logApp' ng-controller='logCont'>
    <nav>
        <ul>
            <li><a href="index.html">What AngularJS Can Do</a></li>
            <li><a href="template.html">AngularJS Template</a></li>
            <li><a href="anato.html">Anatomy of an AngularJS Page</a></li>
            <li class='navSel'><a href="login.html">Login Page Demo</a></li>
        </ul>
    </nav>
    <div class='alert-danger'><h3>NOTE:</h3> for this demo, I'm using very <i>bad</i> encryption techniques. Furthermore, the 'database' of users isn't actually stored anywhere, so when you refresh the page, you'll need to re-register.</div>
    <hr/>
    <div class='col-md-5'>
        <div class='panel panel-primary'>
            <div class='panel-heading'>Register</div>
            <div class='panel-body'>
                <div class='form-group'>
                    <div class='col-md-4'>Name</div>
                    <div class='col-md-8'>
                        <input type='text' ng-model='regname'>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='form-group'>
                    <div class='col-md-4'>Password:</div>
                    <div class='col-md-8'>
                        <input type='password' ng-model='regpwd'>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='form-group'>
                    <div class='col-md-4'>Repeat Password:</div>
                    <div class='col-md-8'>
                        <input type='password' ng-model='regpwdTwo'>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='form-group' style='text-align:center;'>
                    <button class='btn btn-primary' ng-click='register()'>Record me!</button>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class='panel panel-success'>
            <div class='panel-heading'>Login</div>
            <div class='panel-body'>
                <div class='form-group'>
                    <div class='col-md-4'>Name</div>
                    <div class='col-md-8'>
                        <input type='text' ng-model='logname'>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='form-group'>
                    <div class='col-md-4'>Password:</div>
                    <div class='col-md-8'>
                        <input type='password' ng-model='logpwd'>
                    </div>
                </div>
                <br/>
                <hr/>
                <br/>
                <div class='form-group' style='text-align:center;'>
                    <button class='btn btn-primary' ng-click='login()'>Login!</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src='./js/login/lmain.js'></script>
</body>

</html>
